.bi-instagram {
    color: white;
}

.bi-facebook {
    color: white;
}

.bi-youtube {
    color: white;
}

.bi-twitter {
    color: white;
}

.c2a10 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    background-size: cover;
    background-image: url(../images/ImgHeader.jpg);
}

.c2a10 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.c2a10 .text-box {
    padding: 30px 20px;
}

.c2a10 .both-space {
    margin: 80px 0;
}

.c2a10 .btn-info-gradiant {
    background: #da6900;
}

.c2a10 .btn-info-gradiant:hover {
    background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.c2a10 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer;
}

.cards:hover {
    transform: scale(1.1);
}

.card1 {
    background-color: #ffc107;
    border-radius: 15px;
    height: 300px;
}

.card2 {
    background-color: #f5c996;
    border-radius: 15px;
    height: 300px;
}

.first {
    color: #132235;
}

.text1 {
    color: #132235;
    font-weight: 700;
}

.detail {
    color: #132235;
}

.readmore {
    font-weight: 400;
    color: #fff;
}

.btn-submit {
    border-radius: 50px;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
}

.text2 {
    color: #000;
    font-weight: 700;
}

.second {
    color: #8b96a5;
}

.btn-submit1 {
    border-radius: 50px;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    background-color: #f1884d;
    color: #fff;
    font-weight: 500;
}









.wrapper {
    margin: 10vh
}


.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        min-height: 350px;
    }

    @media (max-width: 420px) {
        min-height: 300px;
    }

    &.card-has-bg {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: 130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

            .card-img-overlay {
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                background: rgb(35, 79, 109);
                background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 1) 100%);
            }
        }
    }

    .card-footer {
        background: none;
        border-top: none;

        .media {
            img {
                border: solid 3px rgba(234, 95, 0, 0.3);
            }
        }
    }

    .card-meta {
        color: orange
    }

    .card-body {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
        .card-body {
            margin-top: 30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        cursor: pointer;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 1) 100%);
    }
}

.form-container{
    font-family: 'Roboto', sans-serif;
    padding: 40px 40px 0 0;
    position: relative;
}
.form-container .form-icon{
    color: #7e3b0e;
    background-color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border: 3px solid #7e3b0e;
    border-radius: 50% 50% 50% 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.form-container .form-horizontal{
    background: linear-gradient(#e7e7e7 25px,rgba(255,255,255,0.97) 25px);
    padding: 40px 20px 20px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.form-container .title{
    color: #222;
    font-size: 27px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
}
.form-container .title:after{
    content: '';
    background-color: #7e3b0e;
    height: 3px;
    width: 110px;
    margin: 10px 0 0;
    display: block;
    clear: both;
}
.form-horizontal .form-group{
    background-color: rgba(255,255,255,0.15);
    margin: 0 0 15px;
    border-bottom: 2px solid #e7e7e7;
}
.form-horizontal .input-icon{
    color: #b5b5b5;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 30px;
    margin: 0 0 0 4px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control{
    color: #222;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    width: calc(100% - 40px);
    height: 33px;
    padding: 3px 10px 0 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal textarea.form-control{
    height: auto;
    width: 100%;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder{
    color: #b5b5b5;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.form-horizontal .btn{
    color: #d1d1d1;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px 7px 20px;
    margin: 0 auto;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus{
    color: #7e3b0e;
    background-color: #fff;
    border: 2px solid #7e3b0e;
}
.form-horizontal .btn i{ transition: all 0.3s ease 0s; }
.form-horizontal .btn:hover i{
    color: #7e3b0e;
    transform: translateX(3px);
}