.bi-instagram {
    color: $color-redes-sociales;
}

.bi-facebook {
    color: $color-redes-sociales;
}

.bi-youtube {
    color: $color-redes-sociales;
}

.bi-twitter {
    color: $color-redes-sociales;
}